@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



/* tüm html style üzerinde uygulanacak özrllikler */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;/* metin baağlantılarının alt çizgilerini kaldırır*/
    border: none;
    outline: none;
    scroll-behavior: smooth; /* Sayfa içi bağlantılarda kaydırma efekti ekler.*/
  z-index: 1;
   
    font-family:'Poppins', sans-serif;
   
}



:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

}
html{
    font-size: 62.5%;
    /* overflow: hidden; */   /*bu özellik scroll barın görünmesini engellediği için kaldırdım*/
}
body{
    background-color:var(--bg-color) ;
    color:var(--text-color);
    overflow-y: scroll; /*scroll barı ekledi*/

}

/* Bu özelliklerde scroll barın stilini belirledi. */
::-webkit-scrollbar {
    /* background:#112e42; */
    width: 14px;
    
}
::-webkit-scrollbar-thumb {
    background:pink;
    border-radius: 10px;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;;
    padding: 2rem 9%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;

}


.header.sticky {
    background:var(--bg-color);
    opacity: 0.7;
}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
   
}
.navbar {
    position: relative;
}
.navbar a {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;

}
.navbar a:hover,
.navbar a.active{  /*active özelliği butonların aktif olmasını sağlar.*/
    color: var(--main-color);
}

#menu-icon{
position: relative;
font-size: 3.6rem;
color:var(--text-color) ;
cursor: pointer;/*özelliğin üzerine geldiğinde el simgesinin çıkmasını sağlar*/
display: none;
}

section{
min-height: 100vh;
padding: 10rem 9% 2rem ;
}

.home{ 
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/portfolio/images/2.png') no-repeat;/*resiM alanı şuan doğru çalışmıyor üzerine geldiğinde tamamen kararıyor bunun için resmi tasarlarken daha canlı olmsı lazım*/
    background-size: cover;
    background-position: center;
   
    
    

   }
    .home-content{
      max-width: 60rem;
      z-index: 99;
    }  

    
.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;

}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);/*metin kenarları ve çizgiyi vurgulamak için kullanılır*/
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;/* bu bölüm home da h2 başlığının görünümünü sağlar, sona geldiğinde iki defa yanıp söner*/
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: o;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite; /*h2 başlığının animasyonunda başlama imlecininde animasyon ile haraket etmesini sağlar*/
    animation-delay: 2s;
}
.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}
.btn-box{
    position: relative;
    display: flex; /*Öğeyi bir konteynır olarak tanımlar.*/
    justify-content: space-between;/* Konteynıren içindekileri eşit aralıklarla hizalanmasını sağlar*/
    width: 34.5rem;
    height: 5rem;

}
.btn-box .btn{
    position: relative;
    display: inline-flex;/*yatay bir düzende sıralar*/
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.rem; /* metindeki harflerin aralığını belirler.*/
    color: var(--bg-color);
    z-index: 1; /*konumlandırmak için neyi?=butonun üzerindeki renkkk ve yazıyı*/
    overflow: hidden;/*konteynırın içindekilerin dışına taşmasını engeller*/
    transition: .5s;/*Değişimlerin yumşah ve hoş görünmesini sağlar*/
}

/* bu bölüm butonların üzerindeki geçiş rengini ayarlar*/
.btn-box .btn:hover{
    color: var(--main-color);
}


.btn-box .btn:nth-child(2) {
    background-color: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}


.btn-box .btn:nth-child(2)::before {
background-color: var(--main-color);
}


.btn-box .btn::before {
    content: '';
    position: absolute;/*öğenin konumunu en yakın konuma göre ayarlar*/
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--bg-color);
    z-index:-1;
    transition: .5s;/*butona tıkladıgında daha yumsak bir geçis yapmak için kullanılır.*/

}
.btn-box .btn:hover:before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;/*konteynırın içerisindekileri eşit aralıklarla hizalanmasını sağlar*/

}
/*Bu bölüm sosyal medya alanı ile ilgi alanı düzenler*/
.home-sci a {  
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;/*özellikler arası sıralamayı yaparak en uygun şekle getiriyor*/
    transition: .5s;
}

/*bu özellik S.M butonlarının renginin altında ikonlarının görünmesini sağlar*/
.home-sci a:hover { 
    color: var(--bg-color);
}

.home-sci a::before {
    content:'' ;
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    background-color:var(--main-color);
    z-index: -1;
    transition: .8s;/* S.M. alanının yumşak bir şekilde remk değişimini sağlar.*/
}

/*Bu bölge sosyal medya butonlarının üzerine geldiğinde renk değişimini sağlar*/
.home-sci a:hover:before {
width: 100px;
}

/*Bu özellik resim ile yazılar arası sayfanın düznini yani ikiye bölünmesini sağladı*/
.home-imgHover { 
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background:transparent;
    border:2px solid transparent;
    transition: 3s;
   }

   /*Bu özellik ana sayfadaki resmin üzerine gelince renginin solmasını sağlar*/
 .home-imgHover:hover {
    background:var(--bg-color);
    opacity: 0.5;
  }
  /* ******************************************************************************************* */
  /* ******************************************** HAKKKINDA 2. SAYFA *************************** */
  /* ******************************************************************************************** */
.about {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
 }
 .heading {
    position: relative;
     font-size: 5rem;
     margin-bottom: 3rem;
     text-align: ceter;
 
 }
 span {
     color:var(--main-color);
     
 }
 .about-img {
     position: relative;
     width: 25rem;
     height: 25rem;
     border-radius: 50% ;
     display: flex;
     justify-content: center;
     align-items: center;
     
     
 
 }
 .about-img img {
     width: 90%;
     border-radius: 50%;
    border: .2rem solid var(--main-color);
 
 }
 /*about sayfasındaki reimin özellliklerini çevresindeki çizgi rengini belirlemek için */
 .about-img .circle-spin {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;

 }
 .about-content {
    text-align: center;
    

 }
 .about-content h3 {
     position: relative; 
     display: inline-block; 
     font-size: 2.6rem;
 }
.about-content p {
 position: relative;
 font-size: 1.6rem;
 margin: 2rem 0 3rem;
 }

 .btn-box.btns {
    display: inline-block;
    width: 15rem;
 }

 .btn-box.btns a::before {
    background: var(--second-bg-color);
    
 }
 /*****************************************************************************************/
 /************************************** EĞİTİM 3.SAYFAYA AİT COD BÖLÜMÜ***************************/
 /******************************************************************************************/


  /*Bu özellik education sayfasındaki yazıları sayfanın ortasına gelecek şekilde hizalayı sağlar*/
 .education { 
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
 }

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5 rem;
}

 /* metinin ikiye ayırıp yan yana gelmesini sağlar */
.education-row .education-column {
    flex: 1 1 40rem;
}

 .education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}  
/* Bu özellik yazının yanındaki çizginin verilmesini sağlar */
.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

/* yazı ile çizgi arasında ki boşluğu belirler */
.education-box .education-content {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
}

/* konteynır özelliği gibi özellik olmasını sağlar */
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color); /* bu özellik çercevesinin oluşmasını sağlar*/
    border-radius: .6rem;
    margin-bottom: 2rem; /*konteynırlar arası boşluğun olmasını sağlar*/
    overflow: hidden; /*üzerine gelindiğinde renginin değişmesini aktifleştirir*/
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;/*rengin üzerinde yazıların görünmesini sağlar*/
    transition: .7s;
   
}

.education-content .content:hover:before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
 .education-content .content .year i {
    padding-right: .5rem;
 }

 .education-content .content h3 {
    font-size: 2rem;
 }

 .education-content .content p {
    font-size: 1.6rem;
    padding: .5rem;
 }

/*********************************************************************************/
/************************* YETENEK 4. SAYFAYA AİT COD BÖLÜMÜ*******************************/
/*********************************************************************************/

.skills{
min-height: auto;
padding-bottom: 7rem;
background: var(--second-bg-color);
}
.skills h2 {
    display: flex;
    justify-content: center;
}

/* bu özellik başlıklara göre yazıyı ayırdı ikiye böldü */
.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

/*iki metni birbirinden uzaklaştırdı*/
.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;

}

/* çerçevenin oluşmasını sağladı */
.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

/* skills sayfasında kutuların arkasındaki oynayan rengin ayarlanmasını sağladı */
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .7s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

/* i.indeki yazıların çerçeveye olan uzaklığını ayarladı */
.skills-content .progress {
    padding: 1rem 0;
}

/* ilerleme noktası ile yüzdeler arasını düzenledi (genişletti) */
.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

/*  kutu içindeki yazının rengini değiştirdi */
.skills-content .progress h3 span {
    color: var(--text-color);
}

/* bu cod yüzdeyi belirleyen kutu alanının oluşmasını sağladı */
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0 ;
  
}
 /* % kutularının içini tamamen renk verdi */
.skills-content .progress .bar span {
 display: block;
 height: 100%;
 border-radius: .3rem;
 background: var(--main-color);
 
}

 /* bu özellik yüzde renginin  kaçta kaçı dolu olduğunu gösteriyor */

 /* Professipnel Skills bölümünün yüzdelik kısmını ayarlar child(2 yazmamızın sebebi de ikinci blok oluşundan birincisi Coding Skills olduğundan ona da child(1) yazıldı) */
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 50%;
}



/* Professipnel Skills bölümünün yüzdelik kısmını ayarlar child(2 yazmamızın sebebi de ikinci blok oluşundan birincisi Coding Skills olduğundan ona da child(1) yazıldı) */

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 100%;
}

/* ********************************************************************************* */
/* *************************** İLETİŞİM 5. SAYFAYA AİT KOC BÖLÜMÜ ****************** */
/* ********************************************************************************* */

.contact {
    min-height: auto;
    padding-bottom: 7rem;
   /* text-align: center; /* Yazıyı yatayda merkezi hizalar */
}


/* Bu özellik formun yerini ayarlamamızı sağladı */
.contact form {
    min-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49.8%;
    margin: .5rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}


/* kutu içindeki başlık yazılarının rengini ayarlar */
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}
/* Bu özellikler contac kısmının üzerine genildiğinde kaç sn durduğunu gösterir*/
.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
/* Bu özellikler contac kısmının üzerine genildiğinde harahet etmesini  gösterir*/
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}


.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
  
}


/* *****************************************footer sayfası****************** */
 
.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);

  
}

.footer-text p {
font-size: 1.6rem;
}

/* indirmeikonunun özellikleri */

.footer-iconTop a {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
background: var(--main-color);
border: .2rem solid var(--main-color);
border-radius: .6rem;
z-index: 1;
overflow: hidden;

}


.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;/*bu özellik yükleme ikonun üzereindeki renk değişiminin süresini beilrler*/
    
}

/* yükleme içonunun geçiş özelliğini ayarlar */
.footer-iconTop a:hover:before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

/*yükleme butonunun içinde okun renginin değişimi */

.footer-iconTop a:hover i {
color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    background:yellowgreen; 
    z-index: 98; 
}

.animate.home-img {
 width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: cals(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: cals(.3s / var(--i)) ;
    animation: none;
}

.education .education-box .animate.scroll {
    width: 105%;
}


.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.education.show-animate .education-box .animate.scroll {
    transition-delay: cals(.3s * var(--i));
    width: 0;
}
/* BREAKPOİNTS responsive olmasını sağlıyor */
@media (max-width: 1200px) {
    html {
        font-size:  55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}
 /* menu ikonunun  oluşması  */
@media (max-width: 768px) {
   .header {
       background: var(--bg-color);
    }
    #menu-icon {
        display: block;
    }

 /* menü iconunun içine başlıkları ekledi */
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background:var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
       
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;

    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
        
    }

    .navbar a {
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;

    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    /* bu özellik home sayfasındaki resmin üzerine yazı geldiğinde kamufule olmasını sağlar */
    .home-imgHover {
        pointer-events:none;
        background: var(--bg-color);
        opacity: .6;
    }
}
/*  bu alan sayfa responsive olduğunda içeriğini ona göre düzenlemesini sağlar */
 @media (max-width: 520px){
    html {
        font-size: 50%;
    }

    /* home sayfasındaki başlığı responsive yapıldığında sayfaya göre düzenler */
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 10px;
    }
/* responsive edildiğinde sm bölümü de ayarlıyor kendini */
    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
       margin-top: 2rem;
       text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }
}
/* KEYRAMES ANIMATION */
/* kaydırma etiketini h2 başlığına uyguladım */
@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }

    
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

/* bu bölüm ikinci sayfadaki resmin çevresindeki çizginin haraketini sağkar */
@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

 @keyframes showRight {
    100% {
        width: 0;
    }
 }
 
 









